
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tap-target" data-activates="menu">
    <div class="tap-target-content">
        <h5>Imaging Data</h5>
        <p>This Page display the latest 100 records of imaging data,global search is also avaiable below the title. To do a in table search use the Search input above "Action" column</p>
    </div>
</div>

<div id="edit_modal" class="modal">
    <div class="modal-content">
        <h4 id="edit_title"></h4>

        <div class="input-field ">
            <input placeholder="Asset" id="asset_value" type="text" class="validate">
            <label for="asset_value">Asset Tag</label>
        </div>
        <div class="input-field ">
            <input placeholder="Windows COA" id="wcoa" type="text">
            <label for="time">Windows COA</label>
        </div>
        <div class="input-field ">
            <input placeholder="Office COA" id="ocoa" type="text">
            <label for="serial">Office COA</label>
        </div>
        



    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a id="edit_confirm_btn" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Edit</a>
    </div>
</div>

<div id="confrim_modal" class="modal">
    <div class="modal-content">
        <h4>Message</h4>
        <p id="delete_message"></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a id="delete_confirm_btn" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 id="modal_title"></h4>
        <a id="edit_asset" href="#edit_modal" class="waves-effect waves-light btn">Edit</a>
        <a id="delete_asset" class="waves-effect waves-light btn">Delete</a>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>


    </div>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a id="menu" class="btn btn-floating btn-large cyan"><i class="material-icons">touch_app</i></a>
</div>
<div class="row">
    <div class="col s12">
        <h3 class="header">Imaging</h3>
       
    </div>
    <div class="col s12">
        <div class="input-field col s3">
            <select id="search_cat">

                <option value="ictags" selected>Asset Tag</option>
                <option value="wcoa">Windows COA</option>
                <option value="ocoa">Office COA</option>

            </select>
            <label>Search Category</label>
        </div>
        <div class="input-field col s3">
            <input id="search_string" type="text" class="validate">
            <label for="search_string">Content</label>
        </div>
        <div class="input-field col s3">
            <a id="global_search" class="waves-effect waves-light btn">Search</a>
        </div>

    </div>
    <div class="col s12">
        <table class="table hover" id="table4">
            <thead>
                <tr>
                    <th>Asset Tag</th>
                    <th>Wcoa</th>
                    <th>Ocoa</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>

</div>




<script>
    $('select').material_select();

    $('#menu').click(function () {
        $('.tap-target').tapTarget('open');

    });
    


    function get_table(table_name,data) {

         $.getJSON("/production_log/"+table_name,data,function (data) {
            for (var i = 0; i < data.length; i++) {
                data[i].time = moment(data[i].time).format("YYYY-MM-DD HH:mm");

            }

            $('#table4').DataTable({
                "lengthChange": false,
                destroy: true,
                data: data,
                columnDefs: [{
                    //construct the button on a custom column
                    targets: 3,
                    data: null,
                    defaultContent: "<a class='btn-floating btn-small waves-effect waves-light green' href='#modal1'><i class='material-icons'>menu</i></a>"
                }],
                columns: [
                    { data: "ictags" },
                    { data: "wcoa" },
                    { data: "ocoa" },



                ]
            });


        });

    };


    $(document).ready(function () {
        $('.modal').modal();
        var data = {};
        get_table("get_production_log_data",data);

          $('#edit_confirm_btn').click(function () {
            var data = {
               asset: $('#asset_value').val(),wcoa: $('#wcoa').val(), ocoa: $('#ocoa').val()
            };
            $.getJSON("@Url.Action("edit_form")", data, function (data) {
                Materialize.toast(data.message, 3000);
            });

        });

        $("#table4").on("click", "a", function () {
            //get the asset tag from child #1 of the row
            var asset = $(this).closest('td').siblings(':nth-child(1)').text();
            var wcoa= $(this).closest('td').siblings(':nth-child(2)').text();
            var ocoa = $(this).closest('td').siblings(':nth-child(3)').text();

            //set session storage with key name asset
            sessionStorage.setItem('asset', asset);
            sessionStorage.setItem('wcoa', wcoa);
            sessionStorage.setItem('ocoa', ocoa);


            //call the function that set all the content for the asset
            set_modal_content(asset);
        });


    });


    $('#global_search').click(function () {
        var search_string = $('#search_string').val();
        var search_cat = $('#search_cat').val();
         var data = {
             search_string: search_string,
             search_cat: search_cat,
        }

         get_table("search_record",data);

    });

    $('#delete_asset').click(function () {
        $('#confrim_modal').modal('open');
    });

    $('#edit_asset').click(function () {

    });

    $('#delete_confirm_btn').click(function () {
        var data = {

            ictag : sessionStorage.getItem('asset')
        }

        $.getJSON("@Url.Action("delete_record")", data, function (data) {
            Materialize.toast(data, 3000);
            $('#modal1').modal('close');
            get_table();
        });

    });


    function set_modal_content(asset_tag) {
        //function that set all the content with the asset selected
        var asset = sessionStorage.getItem('asset');
        $('#modal_title').text("Manage " + asset_tag);
        $('#delete_message').text("Are you sure you want to delete the record for " + asset_tag + " ?");
        //edit content
        $('#edit_title').text("Edit " + asset);
        $('#asset_value').val(sessionStorage.getItem('asset'));
        $('#wcoa').val(sessionStorage.getItem('wcoa'));
        $('#ocoa').val(sessionStorage.getItem('ocoa'));
    }
</script>

