@model Demo.Models.RegisterViewModel
@{
    Layout = null;
}


<html>

<head>
    <link href="~/Content/metro.css" rel="stylesheet" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/metro.js"></script>
    <style>
        .login-form {
            width: 25rem;
            height: 29rem;
            position: fixed;
            top: 35%;
            margin-top: -9.375rem;
            left: 50%;
            margin-left: -12.5rem;
            background-color: #ffffff;
            opacity: 0;
            -webkit-transform: scale(.8);
            transform: scale(.8);
        }
    </style>
    <script>

        $(function () {
            var form = $(".login-form");
            form.css({
                opacity: 1,
                "-webkit-transform": "scale(1)",
                "transform": "scale(1)",
                "-webkit-transition": ".5s",
                "transition": ".5s"
            });
        });

    </script>

</head>


<body class="bg-darkTeal">
    <div class="login-form padding40 block-shadow">
      
    
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post,new { data_role = "validator" }))

                        {
                            @Html.AntiForgeryToken()
                            <h1 class="text-light">Account Registration</h1>
                            <hr class="thin" />
                            <br />

                            <div class="input-control text full-size">
                                <label for="user_login">User email:</label>
                                <input data-validate-func="required"  data-validate-hine="This field can not be empty!" type="email" name="Email" id='email'>
                                <span class="input-state-error mif-warning"></span>
                                <span class="input-state-success mif-checkmark"></span>
                            </div>
                            <br />
                            <br />
                            <div class="input-control password full-size" data-role="input">
                                <label  for="user_password">User password:</label>
                                <input type="password" name="password" id='password'>
                                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                            </div>
                            <br />
                            <br />
                            <div class="input-control password full-size" data-role="input">
                                <label  for="user_password">Confrim Password:</label>
                                <input type="password" name='ConfirmPassword' id='ConfirmPassword'>
                                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
                            </div>
                            <br />
                            <br />
                          
                            <div class="input-control select">
                                <select name="userroles">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="Employee">Standard User</option>
                                    <option value="Manager">Manger</option>
                                </select>
                                <label>User Role</label>
                            </div>                       
                            <br />
                            <br />
                            <div class="form-actions">
                                <button type="submit" class="button primary">Register</button>    
                                <a href="@Url.Action("login","account")">Back</a>
                            </div>

                        }
                    </div>
                
    
</body>

</html>

<script>
    $(document).ready(function () {

        $('select').material_select();
    });
</script>