
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="edit_modal" class="modal">
    <div class="modal-content">
        <h4 id="edit_title"></h4>

        <div class="input-field ">
            <input placeholder="Asset" id="asset_value" type="text" class="validate">
            <label for="asset_value">Asset Tag</label>
        </div>
        <div class="input-field ">
            <input placeholder="Serial" id="serial" type="text">
            <label for="serial">Serial</label>
        </div>
        <div class="input-field ">
            <input placeholder="Model" id="model" type="text">
            <label for="model">Model</label>
        </div>
        <div class="input-field ">
            <input placeholder="SKU" id="sku" type="text">
            <label for="ram">SKU</label>
        </div>
        <div class="input-field ">
            <input placeholder="Refurbisher" id="refurbisher" type="text">
            <label for="hdd">Refurbisher</label>
        </div>



    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a id="edit_confirm_btn" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Edit</a>
    </div>
</div>

<div id="confrim_modal" class="modal">
    <div class="modal-content">
        <h4>Message</h4>
        <p id="delete_message"></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a id="delete_confirm_btn" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 id="modal_title"></h4>
        <a id="edit_asset" href="#edit_modal" class="waves-effect waves-light btn">Edit</a>
        <a id="delete_asset" class="waves-effect waves-light btn">Delete</a>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>


    </div>
</div>

<div class="row">
    <div class="col s12">
        <h3 class="header">Rediscovery</h3>
    </div>
    <div class="col s12">
        <div class="input-field col s3">
            <select id="search_cat">

                <option value="sku" selected>SKU</option>
                <option value="refurbisher">Refurbisher</option>
                <option value="model">Model</option>
             
            </select>
            <label>Search Category</label>
        </div>
        <div class="input-field col s3">
            <input id="search_string" type="text" class="validate">
            <label for="search_string">Content</label>
        </div>
        <div class="input-field col s3">
            <a id="global_search" class="waves-effect waves-light btn">Search</a>
        </div>

    </div>
    <div class="col s12">
        <table class="table hover" id="table4">
            <thead>
                <tr>
                    <th>Asset Tag</th>
                    <th>Serial</th>
                    <th>Model</th>
                    <th>Pallet</th>
                    <th>Refurbisher</th>
                    

                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>

</div>




<script>
    $('select').material_select();



    function get_table(table_name,data) {

         $.getJSON("/rediscoveries/"+table_name,data,function (data) {
            for (var i = 0; i < data.length; i++) {
                data[i].time = moment(data[i].time).format("YYYY-MM-DD HH:mm");

            }

            $('#table4').DataTable({
                "lengthChange": false,
                destroy: true,
                data: data,
                columnDefs: [{
                    //construct the button on a custom column
                    targets: 5,
                    data: null,
                    defaultContent: "<a class='btn-floating btn-small waves-effect waves-light green' href='#modal1'><i class='material-icons'>menu</i></a>"
                }],
                columns: [
                    { data: "ictag" },
                    { data: "serial" },
                    { data: "model" },
                    { data: "pallet" },
                    { data: "refurbisher"}

                ]
            });


        });

    };


    $(document).ready(function () {
        $('.modal').modal();
        var data = {};
        get_table("get_rediscovery_data",data);

          $('#edit_confirm_btn').click(function () {
            var data = {
               asset: $('#asset_value').val(),wcoa: $('#wcoa').val(), ocoa: $('#ocoa').val()
            };
            $.getJSON("@Url.Action("edit_form")", data, function (data) {
                Materialize.toast(data.message, 3000);
            });

        });

        $("#table4").on("click", "a", function () {
            //get the asset tag from child #1 of the row
            var asset = $(this).closest('td').siblings(':nth-child(1)').text();
            var serial = $(this).closest('td').siblings(':nth-child(2)').text();
            var model = $(this).closest('td').siblings(':nth-child(3)').text();
            var pallet = $(this).closest('td').siblings(':nth-child(4)').text();
            var refur = $(this).closest('td').siblings(':nth-child(5)').text();
            //set session storage with key name asset
            sessionStorage.setItem('asset', asset);
            sessionStorage.setItem('pallet', pallet);
            sessionStorage.setItem('serial', serial);
            sessionStorage.setItem('refur', refur);
            sessionStorage.setItem('model', model);


            //call the function that set all the content for the asset
            set_modal_content(asset);
        });

           $('#edit_confirm_btn').click(function () {
            var data = {
                asset: $('#asset_value').val(), serial: $('#serial').val(), model: $('#model').val(), sku: $('#sku').val(), refurbisher: $('#refurbisher').val()
            };
            $.getJSON("@Url.Action("edit_form")", data, function (data) {

            });

        });

    });


    $('#global_search').click(function () {
        var search_string = $('#search_string').val();
        var search_cat = $('#search_cat').val();
         var data = {
             search_string: search_string,
             search_cat: search_cat,
        }

         get_table("search_record",data);

    });

    $('#delete_asset').click(function () {
        $('#confrim_modal').modal('open');
    });

    $('#edit_asset').click(function () {

    });

    $('#delete_confirm_btn').click(function () {
        var data = {

            ictag : sessionStorage.getItem('asset')
        }

        $.getJSON("@Url.Action("delete_record")", data, function (data) {
            Materialize.toast(data, 3000);
            $('#modal1').modal('close');
            get_table();
        });

    });


    function set_modal_content(asset_tag) {
        //function that set all the content with the asset selected
        var asset = sessionStorage.getItem('asset');
        $('#modal_title').text("Manage " + asset_tag);
        $('#delete_message').text("Are you sure you want to delete the record for " + asset_tag + " ?");
        //edit content
        $('#edit_title').text("Edit " + asset);
        $('#asset_value').val(sessionStorage.getItem('asset'));
        $('#refurbisher').val(sessionStorage.getItem('refur'));
        $('#serial').val(sessionStorage.getItem('serial'));
        $('#sku').val(sessionStorage.getItem('pallet'));
        $('#model').val(sessionStorage.getItem('model'));

    }
</script>

