
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/daterangepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.daterangepicker.min.js"></script>


<h2 class="leader">Download Report</h2>
<hr />
<br />
<br />

<div class="row">
    

    <div class="input-control text" data-role="input">
        <label>Select Date Range</label>
        <input id="range" type="text">
        <button id="date_report" class="button"><span class="mif-search"></span></button>
    </div>

   
</div>

<script>
    $('#range').dateRangePicker();
    $('#date_report').click(function () {

        var ar = $('#range').val();
        var spli = ar.split('to');
        var from = spli[0];
        var to = spli[1];

        var data = {
            from_time: from, to_time: to

        }
  $.getJSON("@Url.Action("gen_report")", data, function (data) {

            data.date_from = moment(data.date_from).format("YYYY/MM/DD");
            data.date_to = moment(data.date_to).format("YYYY/MM/DD");


            var discovery_detail = [];
            discovery_detail.push(["Asset Tag","Serial #","Manufacture","CPU","RAM","HDD"]);
            for (var i = 0; i< data.discovery.length; i++) {
                var row = new Array();

                row.push(data.discovery[i].ictag);
                row.push(data.discovery[i].serial);
                row.push(data.discovery[i].brand);
                row.push(data.discovery[i].cpu);
                row.push(data.discovery[i].ram);
                row.push(data.discovery[i].hdd);

                discovery_detail.push(row);
            }
            var rediscovery_detail = [];
            rediscovery_detail.push(["Asset Tag", "Serial #", "SKU"]);
            for (var i = 0; i < data.rediscovery.length; i++) {
                var row = new Array();

                row.push(data.rediscovery[i].ictag);
                row.push(data.rediscovery[i].serial);
                row.push(data.rediscovery[i].pallet);


                rediscovery_detail.push(row);
            }
            var imaging_detail = [];
            imaging_detail.push(["Asset Tag","WCOA","OCOA","PRE COA"]);
            for (var i = 0; i < data.imaging.length; i++) {
                var row = new Array();
                row.push(data.imaging[i].ictags);
                row.push(data.imaging[i].wcoa);
                row.push(data.imaging[i].ocoa);
                row.push(data.imaging[i].pre_coa);
                imaging_detail.push(row);
            }

            var sku_table = [];
            sku_table.push(["SKU","# of Machines"]);
            for (var i = 0; i < data.sku_count.length; i++) {
                var row = new Array();
                row.push(data.sku_count[i].SKU);
                row.push(data.sku_count[i].Count);
                sku_table.push(row);
            }
            var raw_table = [];
            raw_table.push(["Asset Tag", "CPU","Make","Model"]);
            for (var i = 0; i < data.raw.length; i++) {
                var row = new Array();
                row.push(data.raw[i].ictag);
                row.push(data.raw[i].cpu);
                row.push(data.raw[i].brand);
                row.push(data.raw[i].model);
                raw_table.push(row);
            }


            var dd = {
                content: [
                    {
                        text: 'Report for ' + data.date_from + ' - ' + data.date_to,
                        style: 'header',
                        alignment: 'center'
                    },
                    { text: 'Data Overview', style: 'header', margin: [0, 20, 0, 8] },

                    {
                        style: 'table',
                        table: {
                            body: [
                                ['', '# of Machines'],
                                ['Discovery', data.discovery.length],
                                ['Rediscovery', data.rediscovery.length],
                                ['Imaging', data.imaging.length]
                            ]
                        }
                    },

                    { text: 'COAs Usage', style: 'header', margin: [0, 20, 0, 8] },

                    {
                        style: 'table',
                        table: {
                            body: [
                                ['', 'Windows COAs','Office COAs'],

                                [data.date_from + ' - ' + data.date_to, data.wcoa_count,data.ocoa_count]
                            ]
                        }
                    },

                    {
                        text: 'Raw Inventory (' + data.raw.length + ')', pageBreak: 'before', margin: [0, 20, 0, 8],
                        style: 'header'
                    },
                    {
                        style: 'table',
                        table: {
                            body: raw_table
                        }
                    },
                    {
                        text: 'SKU Breakdown', pageBreak: 'before', margin: [0, 20, 0, 8],
                        style: 'header'
                    },
                    {
                        style: 'table',
                        table: {
                            body: sku_table
                        }
                    },

                    { text: 'Discovery Data Detail', pageBreak: 'before', style: 'header', margin: [0, 20, 0, 8]},

                    {
                        style: 'table',
                        table: {
                            body: discovery_detail,

                        }
                    },
                    { text: 'Rediscovery Data Detail', pageBreak: 'before', style: 'header', margin: [0, 20, 0, 8]},

                    {
                        style: 'table',
                        table: {
                            body: rediscovery_detail,

                        }
                    },
                    { text: 'Imaging Data Detail', pageBreak: 'before', style: 'header', margin: [0, 20, 0, 8] },

                    {
                        style: 'table',
                        table: {
                            body: imaging_detail,

                        }
                    }

                ],
                styles: {
                    header: {
                        fontSize: 18,
                        bold: true
                    },
                    subheader: {
                        fontSize: 15,
                        bold: true
                    },
                    quote: {
                        italics: true
                    },
                    small: {
                        fontSize: 8
                    }
                }
            }
            pdfMake.createPdf(dd).download('report.pdf');
        });


    });




   



</script>