
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.jtable.js"></script>
<link href="~/Content/metro/blue/jtable.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>





<script>


    $.getJSON("brand_dropdown", function (json) {
        $("#manu_dropdown").select2({
            data: json.manu,
            minimumResultsForSearch: Infinity
        });
    });

    
       
    function get_detail() {

        $('#model_dropdown').html('<option value="3620194" selected="selected">Select a Model</option>');

        var data = {
            input: $("#manu_dropdown option:selected").text()
        }

        $.getJSON("detail_model_dropdown", data, function (json) {
            $("#model_dropdown").select2({
                data: json,
                minimumResultsForSearch: Infinity
            });
        });
    }
    function get_detail_lv2() {

        $('#ram_dropdown').html('<option value="3620194" selected="selected">Select RAM');
        $('#hdd_dropdown').html('<option value="3620194" selected="selected">Select HDD');
        var data = {
            brand: $("#manu_dropdown option:selected").text(),
            input: $("#model_dropdown option:selected").text()
        }

        $.getJSON("lv2detail_model_dropdown", data, function (json) {
            $("#ram_dropdown").select2({
                data: json.ram,
                minimumResultsForSearch: Infinity
            });
            $("#hdd_dropdown").select2({
                data: json.hdd,
                minimumResultsForSearch: Infinity
            });
        });
    }
</script>


<div class="filtering">
    <form id="search_form">
        <div class="input-control text">
            <input id="ic" type="text" placeholder="Input you Asset Tag">
        </div> 
        
        <select id="manu_dropdown" style="display: none;" onchange="get_detail()" >
            <option value="3620194" selected="selected">Select a Manufacture</option>
        </select>
        <select id="model_dropdown" style="display: none;" onchange="get_detail_lv2()">
            
        </select>
        <select id="ram_dropdown" style="display: none;"></select>
        <select id="hdd_dropdown" style="display: none;"></select>
        <input type="submit" value="Load Records" id="load_btn">
        <input type="submit" value="Clear" id="clear_btn">

</form>
</div>

<div id="PersonTable"></div>






<script>
    
    $('#clear_btn').click(function (e){
        e.preventDefault();
        $('#ic').val("");
       
    });

    $('#load_btn').click(function (e) {
        e.preventDefault();
        $('#PersonTable').jtable('load', {
            search : true,
            model: $("#model_dropdown option:selected").text(),
            ram: $("#ram_dropdown option:selected").text(),
            hdd: $("#hdd_dropdown option:selected").text(),
            asset: $('#ic').val(),
            manu: $("#manu_dropdown option:selected").text(),
            raw: $('#raw').is(":checked"),
        });
    });
    

    $(document).ready(function () {
        

        $('#PersonTable').jtable({
            title: 'Discovery Data',
            paging: true,
            pageSize: 10, //Set page size (default: 10)
            sorting: true,
            defaultSorting: 'time', //Sort by Name by default
            actions: {
                listAction: '/discoveries/get_discovery_data',
                updateAction: '/discoveries/update_discovery_data',
                deleteAction: '/discoveries/delete_discovery_data',
            },
            fields: {
                ictag: {
                    title : 'Asset Tag',
                    key: true,
                    list: true
                },
                time: {
                    title: 'Time',
                    type: 'date',
                    width: '15%',
                    displayFormat: 'yy-mm-dd'
                },
                serial: {
                    title: 'serial',
                    list: false
                },
                brand: {
                    title: 'Brand'
                   
                    
                },
                model: {
                    title: 'Model',
                    width: '12%'
                    
                },
                cpu: {
                    title: 'CPU',
                    width: '15%'
                  
                },
                hdd: {
                    title: 'HDD',
                    width: '10%',

                },
                ram: {
                    title: 'RAM',
                    width: '10%',
                },
                optical_drive: {
                    title: 'Optive Drive'
                  
                },
                location: {
                    title: 'Location',
                    width: '10%',
                   list: false
                },
                has_SSD: {
                    title: 'SSD',
                    width: '18%'
                   
                }
            }
        });

        //Load person list from server
        $('#PersonTable').jtable('load');
    });


     
</script>

